.scooter-card {
  border: 0.1rem solid #aaa;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  min-width: 15rem;
  max-width: 22rem;
}

.scooter-card img {
  max-width: 100%;
  border-radius: 2rem;
}

.scooter-details {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scooter-secondary {
  align-items: center;
}

.scooter-card > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scooter-owner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scooter-owner div {
  position: relative;
  top: 0.2rem;
}

.profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  margin-right: 0.5rem;
}
