.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-title {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: auto 0;
    text-align: left;
}
