.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
}

.search-sidebar {
    display: flex;
    flex: 1 1 20%;
    flex-direction: column;
    width: 20rem;
    height: 100%;
    padding: 1rem;
    max-width: 25rem;
    min-width: 15rem;
}

.scooters {
    display: flex;
    flex: 1 3 60%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    max-width: 100%;
    min-width: 15rem;
}

.scooter-filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
}