.buy-button > img {
    /* border: 1px solid #000; */
    border-radius: 20%;
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    margin-left: 1rem;
}

.buy-button > img:hover {
    /* cursor: pointer; */
    background-color: #aaa;
}