.login-signup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: max-content;
    margin: 0 5rem;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: max-content;
    margin: 0 5rem;
}